{% extends 'base.html' %}
{% load static %}

{% block title %}
  Для дома и сада
{% endblock %}

{% block content %}
<div class="create-product">
  <div class="btn btn-warning">
    <p><a href="{% url 'create_transport' %}">ДОБАВИТЬ ПРОДУКТ</a></p>
  </div>
</div>
<div class="album py-5">
  <div class="container">
    <div class="row row-cols-1 row-cols-ms-2 row-cols-md-3 g-3">
      {% for product4 in products4 %}
      <div class="col">
        <div class="card shadow-sm">
          <a href="{{ product4.get_absolute_url }}">
            <img class="product-img bd-placeholder-img card-img-top" src="{{ product4.image.url }}" alt="">
          </a>
          <div class="card-body">
            <h2 class="card-text">{{ product4.title }}</h2>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
{% endblock %}